body {
  font-family: sans-serif;
  direction: rtl;
  text-align: center;
  background: #f3f3f3;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 90%;
  margin: 20px auto;
}

.card {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: 0.3s;
}

.card.red {
  background: #ff6b6b;
  color: #fff;
}

.card.blue {
  background: #4d7cff;
  color: #fff;
}

.card.neutral {
  background: #e3e3e3;
}

.card.black {
  background: #000;
  color: #fff;
}
