body {
    font-family: sans-serif;
    background: #f4f4f4;
    text-align: center;
    direction: rtl;
}

.title {
    margin-top: 20px;
    font-size: 32px;
}

.board {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 10px;
    width: max-content;
}

.card {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid #ccc;
}

.card:hover {
    transform: scale(1.05);
}

/* ألوان الفرق */
.red {
    background: #d9534f;
    color: white;
}

.blue {
    background: #0275d8;
    color: white;
}

.neutral {
    background: #cfcfcf;
    color: black;
}

.assassin {
    background: #000;
    color: white;
}
